<div class="container">
      <!-- Search, and Upload Button -->
      <div id="searchFilterWrap">
        <form id="searchForm">
		<h2 style="color:#069">Total Tours : {{tours.length}}  </h2>
        </form>
        <div class="modal-backdrop-am-fade"
              id="sortByWrap">
   
          <button class="btn btn-primary"
                      data-animation="am-fade-and-scale"
                      data-placement="center"
                      data-template-url="app/main/addTourModal.html"
                      bs-modal="showModal">Add New Tour</button>
		
            </div>
		
      
    </div>

 <!-- Angular Grid -->
  <div class="container" infinite-scroll="nextPage()"  infinite-scroll-disabled="busy || noMoreData" infinite-scroll-distance="0.1">
    <ul class="dynamic-grid angular-grid"
          angular-grid="tours"
          grid-width="275"
          gutter-size="10"
          angular-grid-id="gallery"
          refresh-on-img-load="true">
		  
     <li data-ng-repeat="tour in tours track by $index"
          class="grid"
          ng-cloak>
		 <div>
        <a ui-sref="location ({ tourId: tour._id })"
            class="lookLink">
          <img ng-src="{{ tour.image }}"
                  class="grid-img"
                  data-actual-width="{{ tour.actualWidth }}"
                  data-actual-height="{{ tour.actualHeight }}" />
          <div class="look-description-trim">
            {{ tour.description.substr(0,150) }}
          </div>

          <div class="titleClass">
            {{ tour.title }}
          </div>
        </a>
        <button class ="btn btn-danger" ng-click="deleteTour(tour)"> Delete</button>
		 <button class="btn btn-primary" ng-click="getSpecificTour(tour)"
                      data-animation="am-fade-and-scale"
                      data-placement="center"
                      data-template-url="app/main/editTour.html"
                      bs-modal="showModal">Edit</button>
					  
		<label style="color:#069" ng-if="tour.status==true"> Currently Live </label>
		<label style="color:#FF0000" ng-if="tour.status==false"> Not yet published </label>
      </li>
	  
    </ul>
    <div ng-show='busy'>Loading data...</div>
  </div>
</div>