 
	<table class="table">
		<thead>
			<tr>
			  <th>User Name
				<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			  </th>
			  <th> User Email
				<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			  </th>
			  <th> Delete
				<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			  </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.name}}</td>
			   <td>{{user.email}}</td>
			   <td ng-if="user.role!='admin'"> <button class ="btn btn-danger" ng-click="deleteUser(user)"> Delete</button></td>
			   <td  ng-if="user.role=='admin'">Super admin (root) can't be deleted</td>
			</tr>
		</tbody>
	</table>
