 <div class="container" ng-init="init()">   
 <div id="searchFilterWrap">
        <form id="searchForm">
          <input type="text"
			id="searchBox"
			placeholder="Search by title"
			ng-model="searchTxt"
			ng-model-options="{debounce : 600}" />
        </form>
        <div class="modal-backdrop-am-fade" id="sortByWrap">
			<button class="btn btn-primary"
			  data-animation="am-fade-and-scale"
			  data-placement="center"
			  data-template-url="app/location/addLocationModal.html"
			  bs-modal="showModal">Add New Location</button>
			 
			 <button class="btn btn-primary"
			  data-animation="am-fade-and-scale"
			  data-placement="center"
			  data-template-url="app/location/addExistingLocationModal2.html"
			  bs-modal="showModal">View/Add Existing Locations</button>
							  
         </div>
 </div>
 
 <div ng-init="init()"class = "row">
	<div class = "col-md-4">
	<table class="table">
    <thead>
    <tr ng-show="tourSpot.length>0">
	  <th ng-click="sort('name')">#
		<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
      <th ng-click="sort('name')"> Location Name
		<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
	  
    </tr>
	<div ng-init = "init()"ng-show="tourSpot.length==0">
	<!-- if no data is present, print no data found -->
		<div class="alert alert-info">
			<p calss="text-center"> No locations found in this tour. 
			Please add new Locations or Link Existing Locations. </p> 
		</div>
	</div>
    </thead>
    <tbody>
    <tr  ng-init="selectLocation(tourSpot[tourSpot.length-1],0)" ng-repeat="location in tourSpot |filter:searchTxt | orderBy:'+createTime'"
	ng-style="{
	'background-color': $index == selectedIndex ?'Lightgray' : ''
	}"
		ng-click="selectLocation(location,$index)">
	
		<td >{{$index+1}}</td>
       <td>{{location.title}}</td>
	   
	   <td ng-model="walkNumber"> walk {{location.walkNumber}}</td>
	 
    </tr>
    </tbody>

  </table>
 </div>
<div  ng-show="selectedIndex!=null && tourSpot.length!=0" class = "col-md-5">
	<div class = "panel panel-default" >
	<div class = "panel-body">
	
		<dt> Location Title </dt>
		<dd> {{selectedLocation.title}}</dd>
		<dt> Location </dt>
		<dd> {{selectedLocation.location}}</dd>
		<dt> Description </dt>
		<dd> {{selectedLocation.description}}</dd>
		<dd> 
		 <img ng-src="../..{{selectedLocation.image}}" alt="No location Selected" height ="350" width="400"/> 
		</dd>
		<dt> Location Lat </dt>
		<dd> {{selectedLocation.xCoordinate}}</dd>
		<dt> Location Long </dt>
		<dd> {{selectedLocation.yCoordinate}}</dd>
		<dt> Walk Number </dt>
		<dd> {{selectedLocation.walkNumber}}</dd>
		
		
		<dd> <td> <button class ="btn btn-primary" ng-click="unlinkLocation(selectedLocation)"> Remove from this tour only</button> </td>
	   <td><button class="btn btn-primary"  ng-click="editLocation(selectedLocation)"
					  data-animation="am-fade-and-scale"
					  data-placement="center"
					  data-template-url="app/location/editLocations.html"
					  bs-modal="showModal">Edit</button><td> 
		</dd>
		<br>
		<dd> <td> <button class ="btn btn-danger" ng-click="deleteLocation(selectedLocation)"> Delete permanently</button><b> This particular location 
		will be deleted permanently from the database.</td>
		<dd> </br> </dd>
	</div> 

</div>
</div>

</div> 
<style>
.header {
	color: #36A0FF;
	font-size: 27px;
	padding: 10px;
}
</style>